.reset1{
    background-color: red;
}
.reset2{
    background-color: skyblue;
}
.youth h1{
    font-weight: 900;
    font-family: sans-serif;
}
.youth h2{
    font-weight: 900;
    text-decoration: underline;
    font-family: sans-serif;
}
